body, html {
    height: 100%;
    margin: 0;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    background-color: antiquewhite;
    background-size: cover;

}

* {
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;

}

#location {
    font-family: 'Libre Baskerville', serif;
    
}

/* NAVBAR LOGO START */

.navbar-brand img {
    width: 100px;
    height: auto;
    outline: 4px lightgray solid;
    border-radius: 50%;

}

/* NAVBAR LOGO END */

/* NAVBAR START */

.nav-item {
    font-size: 1.5em;
    text-transform: uppercase;

}

.nav-link {
    text-align: center;

}

/* NAVBAR END */

/* JUMBOTRON START */

.jumbotron-background-color {
    background: rgba(169, 169, 169, 0.7);

}

.jumbotron-text {
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Libre Baskerville', serif;
    
}

@media (min-width: 600px) {

    .jumbotron-text {
        padding-left: 0;
        padding-right: 0;
    }
    
}

.jumbotron p {
    font-size: 1.5em;
    padding-bottom: 10px;

}

.jumbotron h2 {
    text-decoration-color: white;
    font-weight: 600;
    
}

.jumbotron h4 {
    font-size: 3rem;
    padding-bottom: 0.5em;

}

.charcoal-image {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: auto;
    padding-bottom: 2.5em;

}

.awards-images {
    max-width: 280px;
    align-self: center;

}

/* JUMBOTRON END */

/* CARDS START */

card {
    background: none;

}

/* OLD PHOTOS START */

.old-photos-row {
    padding-bottom: 20px;

}

.old-photos {
    max-width: 450px;
    max-height: auto;
    width: 100%;
    height: auto;

}

.card-header {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-size: 0.8em;
    letter-spacing: 1.2pt;
}

/* OLD PHOTOS END */

/* CARDS END*/

/* BUTTONS START */

.page-button {
    width: 250px;

}

/* BUTTONS END */

/* MAIN MENU PAGE START */

.main-restaurant-menu {
    width: 700px;
    height: auto;

}

.main-menu-text {
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;

}

/* MAIN MENU PAGE END */

/* MENU PAGE START */

/* CAROUSEL START*/
.menu-carousel-items {
    width: 100%;
    height: 400px;

}

.carousel-inner {
    width: 100%;
    height: 100%;

}

.carousel-img {
    width: 640px;
    height: 100%;
}

/* CAROUSEL END */

/* MENU PAGE END */

/* GOOGLE MAP START */

.google-map-small {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    
}

/* GOOGLE MAP END */

/* FOOTER START */

.all-rights {
    font-size: 0.7rem;

}

.footer-email-address {
    text-decoration: none;
    color: black;

}

footer a {
    color: black;

}

.footer-copyright-bottom {
    background-color: antiquewhite;
    height: auto;
    width: 100%;

}

.opening-times p {
    line-height: 1;

}

.contact-us-info h5,
.opening-times h5 {
    text-decoration: underline;
    
}

/* FOOTER END */